h1{
    color: red;
}

.bloque p [href]{
    color: black
}

.ultimo{
    color: yellow
}

h1 [title]{
    color: blue
}

.importante {
    color: green
}

[title] .importante{
    color: red
}

ol li a:link {
    color: blue;
    text-decoration:none;
}

ol li a:visited{
    color: purple;
    text-decoration:none;
}

